*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:linear-gradient(180deg,#08111f,#132238,#1c2d4d);
    color:white;
    font-family:Arial,sans-serif;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.container{

    max-width:600px;

}

.logo{

    font-size:70px;

    margin-bottom:20px;

}

h1{

    font-size:42px;

    margin-bottom:20px;

}

.desc{

    font-size:20px;

    color:#d6d6d6;

    line-height:1.8;

    margin-bottom:40px;

}

button{

    background:#4f8cff;

    color:white;

    border:none;

    padding:18px 40px;

    border-radius:15px;

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.05);

    background:#2f73ff;

}
.container{

    opacity:0;

    transform:translateY(40px);

    transition:1s;

}

.container.show{

    opacity:1;

    transform:translateY(0);

}

.logo{

    animation:float 3s ease-in-out infinite;

}

@keyframes float{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0px);

    }

}
